@import 'tailwindcss';

@theme {
  /* PRIMARY: BEEE02 */
  --color-primary: #beee02;
  --color-primary-foreground: #000000;

  /* NEUTRALS */
  --color-neutral-900: #222222;
  /* 222222 */
  --color-neutral-700: #4c4c4c;
  /* 4C4C4C */
  --color-neutral-200: #eae8e7;
  /* EAE8E7 */
  --color-neutral-50: #f9f8f6;
  /* F9F8F6 */

  /* Additional mappings to ensure these are used as defaults */
  --color-brand-black: #222222;
  --color-brand-dark: #222222;
  --color-secondary: #eae8e7;
}

:root {
  --background: #FFFFFF;
  /* F9F8F6 */
  --foreground: #222222;
  /* 222222 */
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* Handled by Next.js Font in layout */
}

.grayscale-map .leaflet-tile-pane {
  filter: grayscale(100%) brightness(1.1) contrast(0.9);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}