@import 'tailwindcss';

@theme {
  --color-primary: #beee02;
  --color-primary-foreground: #000000;
  --color-secondary: #e1ff66;
  --color-brand-dark: #0a0a0a;
  --color-brand-black: #050505;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .border-primary {
    border-color: var(--color-primary);
  }
}

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.grayscale-map .leaflet-tile-pane {
  filter: grayscale(100%) brightness(1.1) contrast(0.9);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
