@import 'tailwindcss';

@theme {
  --color-primary: #beee02;
  --color-primary-foreground: #000000;
  --color-secondary: #e1ff66;
  --color-brand-dark: #0a0a0a;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
